RPC_ENDPOINT=https://mainnet.helius-rpc.com/?api-key=
RPC_WEBSOCKET_ENDPOINT=wss://mainnet.helius-rpc.com/?api-key=
NETWORK=solana
DEX=all
BOT_TOKEN=7651401974:AAGkpD3-jqTJVPV8wzXG1ZU1rlEWebYkduk
CHAT_ID=-1002756949918




